.big-button {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 24px 24px 18px;
    // background: #e5e5e5;
    background: white;
    border-radius: 8px;
    transition: 0.2s;
    box-shadow: 0px 6px 40px 0px rgba(0,0,0,0.2);
}

.big-button:hover, .big-button:active {
    background: #fe801938 !important;
    border-radius: 8px;
    box-shadow: 0px 10px 25px 0px #fe801930;

}