.register-page {
    .title {
        font-size: 3rem;
        font-weight: 900;
    }

    .tag {
        color: gray;
    }
}

.group-confirmation-page {
    .header {
        display: flex;
        width: 100%;

        .center-button {
            margin: auto;
        }
    }

    // .members {
        
    // }
}

.app {
    height: 100%;
    display: flex;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    max-width: 800px;
    width: 100%;

    &.middle {
        margin-top: auto;
        margin-bottom: auto;
    }

    &.middle-flex {
        display: flex;
        flex-direction: column;
    }

    &.bg-gray {
        background: #fafafa;
    }
}

.ant-modal-body {
    box-shadow: 0px 0px 30px 1px #00000090
}

.ant-rate-star {
    font-size: 2rem;
}

.ant-rate-star-full {
    color: #fadb14 !important;
}

.ant-drawer-content {
    border-radius: 24px 24px 0 0;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

p {
    color:#ffffffd5;
    color:#98acff;
    color: #f0f0f0;
    color: #ffd9b0bd;
    color:#ffffff;
    color:#535353;
}

h1 {
    font-weight: bolder !important;
}

html, body {
    height: 100%;
}

#__next {
    height: 100%;
}

.ant-btn-primary {
    font-weight: bolder !important;
}

$primary-color: #fe8019;